PORT=5000
MONGO_URI=mongodb+srv://abshinde1910_db_user:<VnwgcW0cDoTdi8Uq>@ab-tournamen.pjaqfsk.mongodb.net/?appName=ab-tournamen
JWT_SECRET=change_this_secret
ADMIN_SECRET=ab_admin_secret
ADMIN_EMAIL=admin@abtournament.com
ADMIN_PASSWORD=admin123456
ADMIN_USERNAME=admin
PAYMENT_PHONEPE_LINK=https://your-phonepe-business-payment-link
PAYMENT_GPAY_LINK=https://your-gpay-business-payment-link
PAYMENT_LINK=
PAYMENT_UPI_ID=7743845982@kotak811
PAYMENT_PAYEE_NAME=AB Tournament
WITHDRAW_FEE_INR=3
WITHDRAW_DAILY_LIMIT_INR=5000
